{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="p-5 m-5 rounded-5 bg-body-secondary">
        <section>
            <h2>¿Quiénes Somos?</h2>
            <p>En Caritas Trade, creemos en una economía basada en la comunidad, la conexión y la sostenibilidad...</p>
        </section>
        <section>
            <h2>Nuestra Misión</h2>
            <p>Nuestra misión es fomentar un estilo de vida consciente y colaborativo...</p>
        </section>
        <section>
            <h2>¿Cómo Funciona?</h2>
            <p>
                Es simple. Regístrate en nuestra plataforma, crea tu perfil y comienza a explorar los objetos disponibles para intercambiar...
            </p>
        </section>
        <section>
            <h2>Nuestros Valores</h2>
            <ul>
                <li>
                    <strong>Comunidad:</strong> Creemos en el poder de la conexión humana...
                </li>
                <li>
                    <strong>Sostenibilidad:</strong> Promovemos un estilo de vida sostenible al fomentar la reutilización y el intercambio de objetos...
                </li>
                <li>
                    <strong>Diversidad:</strong> Celebramos la diversidad en todas sus formas...
                </li>
            </ul>
        </section>
        <section>
            <h2>Únete a Nosotros</h2>
            <p>Únete a Caritas Trade hoy mismo y sé parte de una comunidad en crecimiento...</p>
        </section>
        <h1 class="text-bg-danger  text-center rounded-5 ">Extraido de la página oficial de Caritas</h1>
        <ul>
            <li>
                Somos Cáritas Argentina, una organización de la Iglesia Católica que trabaja para dar respuesta a las problemáticas sociales que derivan de la pobreza.
            </li>
            <li>Somos más de 40. 000 voluntarios en 3.500 equipos de trabajo y estamos en todos los rincones del país.</li>
            <li>Acompañamos a personas, familias y comunidades que se encuentran en situación de exclusión y vulnerabilidad.</li>
            <li>
                Les brindamos contención espiritual y herramientas concretas para que, por sus propios medios, sean capaces de transformar su realidad.
            </li>
        </ul>
        <br>
        <h4>Pastoral Caritativa</h4>
        <p>
            Cáritas es amor en obras: nuestro servicio y nuestras acciones se inspiran en el amor a Dios y al prójimo. Buscando la verdadera dignificación del hombre, Cáritas se centra en tres momentos claves para llevar adelante su misión:
        </p>
        <ol>
            <li>
                <strong>Asistencia</strong>: Forma de animar la caridad que consiste en dar respuestas a las necesidades mínimas o situaciones de emergencia de las comunidades más pobres.
                El desafío es no solamente dar de comer o abrigar sino acompañar a las familias y ser puerta de entrada para escuchar, contener, organizar y planificar tareas que estimulen la promoción humana.
            </li>
            <li>
                <strong>Promoción humana</strong>: Busca modificar, mejorar y suscitar cambios que mejoren las condiciones de vida de los más pobres. Requiere incorporar a las personas en la búsqueda de soluciones a sus problemas junto con otros.
                Este momento es menos inmediato en sus efectos pero más durable, lo que requiere un trabajo desde la planificación con la persona y la comunidad. Se debe propiciar un proceso de desarrollo humano integral que fomente el desarrollo conjunto de cualidades, capacidades, posibilidades y recursos de las personas, para que puedan actuar de manera autónoma y comprometida y ser protagonistas activos en la construcción del bien común de la comunidad a la que pertenecen.
                Por ello son tareas fundamentales y complementarias la formación, la organización y la promoción comunitaria.
            </li>
            <li>
                <strong>Caridad transformadora</strong>: La Iglesia desde la búsqueda de un mundo de hermanos, apunta a transformar las estructuras injustas de pecado y producir cambios en toda la sociedad para acercarnos al Proyecto de Dios.
                Promover la animación de la caridad transformadora es impulsar la reflexión y la formación de la conciencia social, acompañando acciones que permitan pasar de habitantes a ciudadanos.
            </li>
        </ol>
        <div class="text-center p-5 m-5 bg-primary-subtle rounded-5  ">
            <h2>Historia</h2>
            <p>
                A mediados de la década del ´50 comienza la labor de Cáritas en Argentina. El objetivo principal de Cáritas, según sus estatutos es “animar y coordinar la obra social y caritativa de la Iglesia, insertada en la pastoral orgánica a través de formas adaptadas al tiempo y las circunstancias, para lograr el desarrollo integral de todo el hombre y de todos los hombres, con especial preferencia por las personas y comunidades más marginadas”.
            </p>
            <p>
                Desde su nacimiento, Cáritas Argentina muestra características distintivas que le dieron identidad especial: su base parroquial, su amplio voluntariado y sus esfuerzos por desarrollar procesos sustentables con el aporte de las comunidades.
            </p>
            <p>
                Con el correr del tiempo fue creciendo en estructura y organización. Las diócesis se van sumando a la iniciativa, constituyendo sus sedes, congregando voluntarios y procurando fondos para la tarea.
            </p>
            <p>
                En 1962 comienzan a reunirse los secretariados diocesanos que se constituían y en 1969 se realiza el Primer Encuentro Nacional de Cáritas, en Villa Carlos Paz (Córdoba). El principal objetivo del mismo fue responder “Qué es Cáritas en la Argentina, Qué debe ser Cáritas en la Argentina y Cómo hacerlo”.
            </p>
            <p>
                Promediando los años setenta, gran parte de las energías de Cáritas se destinaban a la ayuda inmediata, especialmente a través de la donación de alimentos, medicamentos y ropa, como sucedía en la mayoría de las Cáritas de América Latina.
            </p>
            <p>
                Esa actividad se fue transformando en los años 80, cuando se descubre la necesidad de animar procesos de promoción humana y un mayor protagonismo de quienes participan de los distintos proyectos, procurando el propio desarrollo y el de sus comunidades.
            </p>
            <p>
                Teniendo ese contexto, en 1986 la Conferencia Episcopal aprueba los actuales Estatutos de Cáritas Argentina como organismo de la Iglesia que coordinará la obra caritativa oficial de la misma.
            </p>
            <p>
                En la actualidad, Cáritas Argentina se encuentra trabajando activamente en las 67 Diócesis de la Iglesia Argentina. Gracias al compromiso solidario de toda la sociedad y al esfuerzo cotidiano de más de 32.000 voluntarios, Cáritas canaliza su acción a través de más de 3.500 parroquias, capillas y centros misionales.
            </p>
        </div>
    </div>
{% endblock content %}
