{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="d-flex justify-content-evenly  pt-5">
    <div class="text-center">
      <h1>Sobre nosotros</h1>
      <a href="{% url "about_us" %}">
        <img src="{% static "stock_image_1.jpg" %}"
             alt=""
             style="width: 500px;
                    height: 500px;
                    border: 1px solid #ddd;
                    object-fit: cover;
                    transition: 0.3s ease"
             onmouseover="this.style.border = '5px solid red';"
             onmouseout="this.style.border = '1px solid #ddd';"
             class="rounded-circle shadow-lg">
      </a>
    </div>
    <div class="text-center">
      <h1>Mapa de filiales</h1>
      <a href="">
        <img src="{% static "stock_image_2.jpg" %}"
             alt=""
             style="width: 500px;
                    height: 500px;
                    border: 1px solid #ddd;
                    object-fit: cover;
                    transition: 0.3s ease"
             onmouseover="this.style.border = '5px solid red';"
             onmouseout="this.style.border = '1px solid #ddd';"
             class="rounded-circle shadow-lg">
      </a>
    </div>
  </div>
{% endblock content %}
