<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ver peticiones de intercambio</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous" />
    </head>
    <body>
        {% include 'user_navbar_with_edit_and_close.html' with user_session=user_session session_id=session_id session_name=session_name %}
        <div class="p-5 m-5">
            <h1>Solicitudes de intercambio hijueperra</h1>
            <div>
                <div class="d-flex flex-column ">
                    {% for request in requests %}
                        <div class="d-flex flex-column p-5 m-2 rounded-5 shadow-lg ">
                            <div class="d-flex p-1 justify-content-between ">
                                <div class="d-flex flex-column ">
                                    <div class="d-flex p-1">
                                        <h2>
                                            Publicacion ofrecida: <a href=" {% url "see_post" id=request.exchange_post_for_id.id %} ">{{ request.exchange_post_for_id.title }}</a>
                                        </h2>
                                    </div>
                                    <div class="d-flex p-1">
                                        <h2>
                                            Publicacion peticionada: <a href="{% url "see_post" id=request.in_exchange_post_id.id %}">{{ request.in_exchange_post_id.title }}</a>
                                        </h2>
                                    </div>
                                    <div class="d-flex p-1">
                                        <h2>
                                            Usuario: <a href="{% url "view_profile" id=request.affiliate_id.id %}">{{ request.affiliate_id.name }}</a>
                                        </h2>
                                    </div>
                                </div>
                                <div class="d-flex flex-column  p-1 justify-content-evenly align-content-end ">
                                    <form action=""
                                        {% comment %} hx-post="{% url 'accept_exchange_request' request_id=request.id %}" {% endcomment %}
                                    >
                                        <a name=""
                                           type="submit"
                                           id=""
                                           class="btn btn-success "
                                           href="#"
                                           role="button">Hacer mierda</a>
                                    </form>
                                    <form action="">
                                        <a name="" id="" class="btn btn-danger" href="#" role="button">Lovumba</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12"
                integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
                crossorigin="anonymous"></script>
    </body>
</html>
