{% load static %}
<nav class="navbar navbar-expand-lg bg-body-secondary   ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'logo_caritasTrade.png' %}"
                 alt="Logo"
                 width="165"
                 height="75"
                 class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active fs-4" aria-current="page" href="#">Home <i class="bi bi-shop"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" href="#">Ver Ecommerce <i class="bi bi-cart3"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" href="#">Ver Perfil <i class="bi bi-person-bounding-box"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
