<!doctype html>
<html lang="en">
    <head>
        <title>Felicitaciones</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body class="bg-body-tertiary">
        <div class="container mt-5 justify-content-center align-items-center vh-100">
            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">¡Registro exitoso!</h4>
                <p>Su cuenta ha sido registrada exitosamente</p>
                <hr>
                <p class="mb-0">¡Comienza a disfrutar de nuestros servicios!</p>
            </div>
        
            <div class="text-center mt-4">
                <a href="{% url 'landing_page' %}" class="btn btn-danger fw-bold mx-2">Ir a la página principal</a>
                <a href="{% url 'log_in_form' %}" class="btn btn-primary fw-bold mx-2">Iniciar sesión</a>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
