{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body
        {% if user_session %}
            {% include 'user_navbar_with_edit_and_close.html' %}
        {% else %}
            {% include 'user_navbar.html' %}
        {% endif %}    

        {% block content %}

        <h1><strong>Nombre:</strong> {{ user.name }} </h1>
        {% if user_session %}
            <p><strong>Apellido:</strong> {{ user.surname }}</p>
            <p><strong>Email:</strong> {{ user.email  }}</p>
            <button>
                Editar perfil
            </button>
            <button>
                Cerrar sesion
            </button>
        
        {% endif %}

        {% if post %}
            {% for elem in post %}
                <article class = "card">
                    <a href="">
                        <h1> {{ elem.image }} {{ elem.title }} {{ elem.description }}</h1>
                    </a>
                </article>
            {% endfor %}
        {% endif %}

        {% if need_products %}
            {% for product in need_products %}
                <p>{{ product.name }}</p>
            {% endfor %}
        {% endif %}
        {% endblock %}

        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
