{% load static %}
<head>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<nav class="navbar navbar-expand-lg bg-body-secondary ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="{% url 'list_products' %}">
      <img src="{% static 'logo_caritasTrade.png' %}"
           alt="Logo"
           width="165"
           height="75"
           class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        {# sacar MS-AUTO para poner a la izquierda #}
        <li class="nav-item">
          <a class="nav-link fs-4" href="{% url 'list_products' %}">
            <i class="bi bi-shop" style="margin-right: 5px;"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="{% url 'register_exchange' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
              <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
            </svg> Registrar Intercambio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="#"><i class="bi bi-cart3" style="margin-right: 5px;"></i> Ver Ecommerce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="{% url "see_waiting_posts" %}"><i class="bi bi-card-checklist" style="margin-right: 5px;"></i> Validar Publicación </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="{% url "category_list" %}"><i class="bi bi-tags" style="margin-right: 5px;"></i> Categorías </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" href="{% url "finish_day" %}"><i class="bi bi-building-check" style="margin-right: 5px;"></i> Finalizar dia </a>
        </li>
        {% if not user_session %}
          <li class="nav-item">
            <a class="nav-link fs-4" href="{% url 'view_profile' id=session_id %}"><i class="bi bi-person-bounding-box" style="margin-right: 5px;"></i> {{ session_name }} </a>
          </li>
        {% else %}
          <li class="nav-item">
            <form class="nav-link fs-4" id='form' action="{% url 'confirm_sign_off' %}">
              <div type= 'submit' id='submit'>
                <i class="bi bi-signpost-2" style="margin-right: 5px;"></i>Cerrar Sesión
              </div>
            </form>
          </li>
        {% endif %}
        <script>
                    function confirmarCierreSesion() {
                        // Mostrar cuadro de diálogo de confirmación
                        if (confirm("¿Estás seguro de que deseas cerrar la sesión?")) {
                            // Si el usuario confirma, redirigir al usuario a la página de cierre de sesión
                            document.getElementById("form").submit();
                        }
                    }
                    document.getElementById('submit').addEventListener('click', confirmarCierreSesion)
        </script>
      </ul>
    </div>
  </div>
</nav>
