<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ post.title }}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
              rel="stylesheet">
    </head>
    <body>
        <header>
            {% if role == "admin" %}
                {% include 'admin_navbar.html' with user_session=user_session session_id=session_id %}
            {% elif role == "user" %}
                {% include 'user_navbar_with_edit_and_close.html' with user_session=user_session session_id=session_id session_name=session_name %}
            {% else %}
                {% include 'worker_navbar.html' with user_session=user_session session_id=session_id session_name=session_name %}
            {% endif %}
            <main class="">
                {% if message %}
                    <div class="message_board p-5">
                        <div class="alert alert-{{ type_of_alert }} alert-dismissible fade show"
                             role="alert">
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            <strong>{{ message }}</strong>
                        </div>
                    </div>
                {% endif %}
                {% if post %}
                    <div class="container mt-5 shadow-lg rounded-5 ">
                        <div class="row">
                            <!-- Columna de la imagen -->
                            <div class="col-md-4 text-center">
                                <img src="data:image/png;base64,{{ post_image }}"
                                     class="img-fluid m-5 rounded-5 shadow-sm ratio-1x1 "
                                     style="border: 1px solid #ddd"
                                     alt="Imagen">
                            </div>
                            <!-- Columna del título, descripción y categoría -->
                            <div class="col-md-4 d-flex flex-column justify-content-between align-items-center text-center">
                                <div>
                                    <h2 class="fw-bolder text-primary m-5">{{ post.title }}</h2>
                                    <p>{{ post.description }}</p>
                                    <h5 class="fw-bold ">Categoria:</h5>
                                    <p>{{ category.name }}</p>
                                </div>
                                {% if role == "user" %}
                                    <a href="{% url "exchange_points" id=post.id %}"
                                       type="button"
                                       class="btn btn-danger m-5"
                                       id="request_button"
                                       onclick="return confirm('¿Estás seguro de que deseas canjear puntos por este producto?');">
                                        <i class="bi bi-send" style="margin-right: 5px;"></i>Canjear puntos
                                    </a>
                                {% elif own_post %}
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-warning m-5" id="request_button">
                                            <i class="bi bi-send" style="margin-right: 5px;"></i>Editar post
                                        </button>
                                        <a href="{% url "delete_post" id=post.id %}"
                                           type="button"
                                           class="btn btn-danger m-5"
                                           id="request_button">
                                            <i class="bi bi-trash" style="margin-right: 5px;"></i>Eliminar post
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-4 text-center">
                                <h4 class="m-4">Stock:</h4>
                                <h5>{{ post.stock }}</h5>
                                <h4 class="m-4">Costo:</h4>
                                <h5>{{ post.point_cost }}</h5>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        <strong>Esta publicación no se encuentra disponible por el momento. Intente más tarde.</strong>
                    </div>
                {% endif %}
            </main>
            <!-- Bootstrap JavaScript Libraries -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                    crossorigin="anonymous"></script>
            </script>
        </body>
    </html>
